# Backend Configuration
BASE_HTTP_URL=
WS_PATH=
SOURCE=qtrobot
USERNAME=
PASSWORD=

# Audio Configuration
AUDIO_RATE=16000
DEFAULT_LANGUAGE=en-US
SPEECH_MODEL=default
USE_ENHANCED_MODEL=True

# Microphone Source: "default" (ReSpeaker ROS topic) or "external"
MIC_SOURCE=default
# can check device index from running the command 'arecord -l'
MIC_DEVICE_INDEX=

# speech to text service configuration
STT_ENGINE=gspeech

# Speech Speed
SPEECH_SPEED=90

# Timeout Configuration
DEFAULT_TIMEOUT=20.0
LLM_TIMEOUT=25.0

# The face QT makes when listening to the user
EMOTION_LISTENING=QT/confused,QT/showing_smile

#maybe I should add the other emotions and gestures here as well, 
#but for now keeping it simple with just the listening emotion